*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'isidora';
    src: url('../../../Fonts/IsidoraSoft/isidora_softlight.woff2') format('woff2'),
        url('../../../Fonts/IsidoraSoft/isidora_softlight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'sofasans';
    src: url('../../../Fonts/SofaSans/sofa_sansblack.woff2') format('woff2'),
        url('../../../Fonts/SofaSans/sofa_sansblack.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 2fr 7fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main";
}

.container > div {
    border: 2px solid red;
}

.sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 1fr 4fr 3fr 5fr;
    grid-template-areas: 
    "header"
    "nav"
    "misc";
    gap: 20px;
    padding-left: 20px;

}

.sidebar-title {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 15px;
    place-content: center;
}

.nav > ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0px;

    & > li {
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 15px;
        place-content: center;
    }
}

.misc > ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0px;

    & > li {
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 15px;
        place-content: center;
    }
}

li {
    list-style-type: none;
}

.header {
    grid-area: header;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 15px 30px;

    & > .header-upper{
        grid-row: 1 / 2;
    }
    
    & > .header-lower{
        grid-row: 2 / 3;
    }

    & > * {
        border: 1px solid red;
    }
}

.header-upper,
.header-lower {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-upper .searchbar{
    display: flex;
    flex-direction: row;
    gap: 20px;

    & > input {
       width: 500px; 
        border-radius: 3px;
    }
}

.header-upper .misc {
    display: flex;
    gap: 20px;
}

.header-lower .icon {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.header-lower .option {
    display: flex;
    flex-direction: row;
    gap: 30px;

    & button {
        border-radius: 3px;
    }
}


.main {
    grid-area: main;
}