*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'isidora_softlight';
    src: url('fonts/IsidoraSoft/isidora_softlight.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'sofa_sansblack';
    src: url('fonts/SofaSans/sofa_sansblack.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 2fr 7fr;
    grid-template-areas:
        "sidebar header"
        "sidebar main";
}

.container>div {
    border: 2px solid red;
}

.sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 1fr 4fr 3fr 5fr;
    grid-template-areas:
        "header"
        "nav"
        "misc";

    gap: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: brown;
    font-family: 'sofa_sansblack', Arial, Helvetica, sans-serif;
    background-color: rgb(77, 178, 240);
}

.sidebar-title {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 15px;
    font-size: 2em;
    align-items: center;
}

.nav>ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0px;

    &>li {
        display: grid;
        grid-template-columns: 1fr 4fr;
        gap: 15px;
        margin-left: 10px;
        align-items: center;
        font-size: 1.3em;

    }
}

.misc>ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0px;

    &>li {
        display: grid;
        grid-template-columns: 1fr 4fr;
        gap: 15px;
        margin-left: 10px;
        align-items: center;
        font-size: 1.3em;
    }
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: red;
    text-shadow: 2px 2px 2px black;
    transform: translate(2px 2px 2px);
}

li {
    list-style-type: none;
}

.header {
    grid-area: header;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 15px 30px;

    &>.header-upper {
        grid-row: 1 / 2;
    }

    &>.header-lower {
        grid-row: 2 / 3;
    }

    /* &>* { */
        /* border: 1px solid red; */
    /* } */
}

.header-upper,
.header-lower {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-upper .searchbar {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    max-width: 60%;
    gap: 20px;

    & input {
        width: 100%;
        border-radius: 15px;
        background-color: rgb(221, 221, 221);
        border: none;
    
        &:hover {
            border: 2px solid red;
        }
    
    }
}

.header-upper .misc {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;

    & img {
        border-radius: 100%;

        &:hover {
            transform: scale(150%) rotate(10deg);
        }
    }

    & p {
        font-family: "sofa_sansblack";
        font-size: 1.3em;
    }
}

.header-lower .icon {
    display: flex;
    flex-direction: row;
    gap: 20px;
    place-items: center;
    font-family: "sofa_sansblack";

    & img {
        width: 70px;
        border-radius: 100%;
    }

    & .hi {
        font-size: 1em;
    }
    & .name {
        font-size: 1.7em;
    }
}

.header-lower .option {
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-family: "sofa_sansblack";
    place-items: center;

    & button {
        border-radius: 50px;
        border: none;
        background-color: rgb(77, 178, 240);
        font-size: 1.5em;
        font-family: inherit;
        padding: 0.3em 1em;
    
        &:hover {
            border: 2px solid red;
            box-shadow: 2px 2px 2px black;
            cursor: pointer;
        }
    }
}


.main {
    grid-area: main;
}