*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 2fr 7fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main";
}

.container > div {
    border: 2px solid red;
}

.sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 1fr 4fr 3fr 5fr;
    grid-template-areas: 
    "header"
    "nav"
    "misc";
    gap: 20px;
    padding-left: 20px;

    & > * {
        border: 1px solid red;
    }
}

.sidebar-title {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 15px;
    place-content: center;
}

.nav > ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0px;

    & > li {
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 15px;
        place-content: center;
    }
}

.misc > ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0px;

    & > li {
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 15px;
        place-content: center;
    }
}
li {
    list-style-type: none;
}
.header {
    grid-area: header;
}

.main {
    grid-area: main;
}